<div class= "main">
  <div class= "title-contents">
    <h1 class= "page-title">
    ユーザーの詳細
    </h1>
  </div>
  <div class="main-show">
    <div class= "main-show-contents">
      <div class= "show-contents-title">
        <label class="show-title">名前</label>
      </div>
      <div class="column-cotents">
        <%= @user.name %>
      </div>
    </div>
    <div class= "main-show-contents">
      <div class= "show-contents-title">
        <label class="show-title">メールアドレス</label>
      </div>
      <div class="column-cotents">
        <%= @user.email %>
      </div>
    </div>
    <div class= "main-show-contents">
      <div class= "show-contents-title">
        <label class="show-title">登録日時</label>
      </div>
      <div class="column-cotents">
        <%= @user.created_at %>
      </div>
    </div>
    <div class= "main-show-contents show-end">
      <div class= "show-contents-title">
        <label class="show-title">更新日時</label>
      </div>
      <div class="column-cotents">
        <%= @user.updated_at %>
      </div>
    </div>
    <%= link_to "編集", "#", method: :get, class: "btn" %>
    <%= link_to "削除", "#", method: :delete, class: "btn" %>
  </div>
</div>