<%= link_to report_path(report.id), method: :get, class: "show-link" do %>
  <div class= "report-contents">
    <div class= "report-contents-title">
      <%= report.title %>
    </div>
    <div class= "report-contents-time">
      <%= l report.created_at %>
      <% if user_signed_in? %>
       <%= link_to "編集", edit_report_path(report.id), class: "btn link-btn" %>
      <% end %>
      <%= link_to "削除", report_path(report.id), method: :delete, data: { confirm: "日報「#{report.title}」を削除します。よろしいですか？" }, class: "btn link-btn" %>
    </div>
  </div>
<% end %>