<div class= "main">
  <div class= "title-contents">
    <h1 class= "page-title">
    ログイン
    </h1>
  </div>
  <%= form_with model: @user, url: user_session_path, local: true do |f| %>
    <%# <%= render 'shared/error_messages', model: f.object %>

    <div class='error-alert'>
      <%= flash[:notice] %>
      <%= flash[:alert] %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"form-control", style: "border: 1px solid;", id:"email", autofocus: true %>

      <div class='form-text-wrap'>
        <label class="form-text">パスワード</label>
      </div>
      <%= f.password_field :password, class:"form-control", style: "border: 1px solid;", id:"password", placeholder:"" %>

      <div class='register-btn'>
        <%= f.submit "ログインする" ,class:"btn" %>
      </div>
    </div>
  <% end %>
</div>