<div class= "main">
  <% if flash.notice.present? %>
    <div class= "flash-tag">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class= "title-contents">
    <h1 class= "page-title">
    日報一覧
    </h1>
  </div>

  <%= search_form_for @q, local: true, class: "search-form" do |form| %>
  <div class="search-group">
    <div class='search-title'>
    <label class="form-text">題名</label>
    </div>
    <%= form.search_field :title_cont, class: "search-input" %>
  </div>
  <div class="search-group">
    <div class='search-title'>
    <label class="form-text">作成日時</label>
    </div>
    <%= form.search_field :created_at_gteq, class: "search-input" %>
  </div>
  <div class= "search-btn">
    <%= form.submit "検索", class: "btn" %>
  </div>
  <% end %>

  <% if user_signed_in? %>
    <%= link_to "新規作成", new_report_path, class: "btn" %>
  <% end %>
  <div class= "report-column">
    <div class= "report-column-title">
     <h1 class= "column-title">
     題名
     </h1>
    </div>
    <div class= "report-column-time">
     <h1 class= "column-title">
     作成日時
     </h1>
    </div>
  </div>
  <% @reports.each do |report| %>
    <%= render partial: "shared/report", locals: { report: report } %>
  <% end %>
  <%= paginate @reports %>
</div>